<!DOCTYPE html>
<html>
<head>
  <title>styler</title>
</head>
<body>
  <h1 style="margin-left:390px">Typescript Quiz: Governer It Course</h1>
  <div style="margin-left:200px; padding-left:100px;  border: 5px solid #000 ; width: 800px;">
  <form action="/" method="post">
    <!-- quiz one -->
    <div style="border: 2px solid red; width: 700px; margin-top:30px">
    <h4>1. What is TypeScript primarily used for?</h4>

    <input type="radio" name="options" value="op1" placeholder="Enter your name...">Memory Management



    <input type="radio" name="options" value="op2" placeholder="Write your color...">Dynamic Typing
    <input type="radio" name="options" value="op3" placeholder="Write your color..." value="static typing">Static Typing
     <input type="radio" name="options" value="op4" placeholder="Write your color...">Asynchronous operations
      </div>  
    <!-- quiz two
    -->
    <div style="border: 2px solid red; width: 700px;">
      <h4>2. Which of the following is NOT a valid TypeScript data type?</h4>

      <input type="radio" name="options2" value="op1" placeholder="Enter your name...">void
      <input type="radio" name="options2" value="op2" placeholder="Write your color...">any
      <input type="radio" name="options2" value="op3" placeholder="Write your color..." value="static typing">dynamic
       <input type="radio" name="options2" value="op4" placeholder="Write your color...">tuple
        </div>
    <!-- quiz 3 -->
    <div style="border: 2px solid red; width: 700px;">
      <h4>3. How do you denote a variable as readonly in TypeScript?</h4>

      <input type="radio" name="options3" value="op1" placeholder="Enter your name...">const
      <input type="radio" name="options3" value="op2" placeholder="Write your color...">readonly
      <input type="radio" name="options3" value="op3" placeholder="Write your color..." >static
       <input type="radio" name="options3" value="op4" placeholder="Write your color...">fixed
        </div>

    <!-- quiz 4 -->
    <div style="border: 2px solid red; width: 700px;">
      <h4>4. How do you specify that a function does not return anything in TypeScript?</h4>

      <input type="radio" name="options4" value="op1" placeholder="Enter your name...">function myFunc(): undefined
      <input type="radio" name="options4" value="op2" placeholder="Write your color...">function myFunc(): void

      <input type="radio" name="options4" value="op3" placeholder="Write your color..." >function myFunc(): null

       <input type="radio" name="options4" value="op4" placeholder="Write your color...">function myFunc(): None
        </div>

    <!-- quiz 5 -->
    <div style="border: 2px solid red; width: 700px;">
      <h4>5. How do you define a custom type in TypeScript?</h4>

      <input type="radio" name="options5" value="op1" placeholder="Enter your name...">interface
      <input type="radio" name="options5" value="op2" placeholder="Write your color...">typedef

      <input type="radio" name="options5" value="op3" placeholder="Write your color..." >type

       <input type="radio" name="options5" value="op4" placeholder="Write your color...">Both A and C
        </div>
<br>
    <input type="submit" value="Submit" style="margin-left:200px; margin-right:100px; width:100px; background:green;font-size:25px">
    <h2 style="color:red; margin-left:200px; margin-top:0px; size:bold; " >Total Marks: {{ data }}/25</h2>

  </form>
    </div>
</body>
</html>
